
body {
    margin: 0px;
    
}

header {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
}

div.name {
    display: inline-block;
    position: relative;
    left: 11%;
    width: 350px;
    height: 90px;
    background-color: #4aaaa5; 
    
}

p {
    font-family: sans-serif;
    font-size: 18px
}

h1 {
    margin: 0px;
    text-align: center; 
    height: 90px;
    line-height: 90px;
    color: #ffffff;   
}

.nav {
    display: inline;
    position: relative;
    left: 35%;
    background-color: #ffffff;
}
   
.nav ul {
    display: inline-flex;
}

.nav li {
    margin: 0px;
    padding:0;
    display: inline;
    vertical-align:middle  
}

.nav a {
    margin: 16px;
    text-decoration:none;  
    color: #a0a0a0;

}

body {
    background-color: #e2e2e2;

}

.about {
    display: inline-block;
    position: relative;
    left: 11%;
    margin-top: 30px;
    height: 400px;
    width: 600px;
    padding: 25px;
    color: #6e6e6e;   
    background-color: #ffffff;
    
}

.about h2 {
    font-size: 30px;
    color: #4aaaa5; 
}

.about img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.about p {
    line-height: 35px;
}

.contact {
    display: inline-block;
    position: relative;
    left: 11%;
    margin-top: 30px;
    height: 400px;
    width: 600px;
    padding: 25px;
    color: #6e6e6e;   
    background-color: #ffffff;
}

.contact h2 {
    font-size: 30px;
    color: #62A7A4; 
}

.connect {
    display: inline-block;
    position: relative;
    left: 12%;
    top: -235px;
    margin: 20px;
    padding: 10px;
    height: 180px;
    width: 240px;
    color: #6e6e6e;   
    background-color: #ffffff;
    
}

.connect h3 {
    font-size: 22px;
    text-align: center; 
    color: #62A7A4;
}

.connect img {
    margin: 8px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 95px;
    line-height: 50px;
    background-color: #666666;
    color: rgb(179, 179, 179);
    text-align: center;
    border-top: 8px solid #4aaaa5;
    
}

